<h2>Account Settings</h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :current_password, :hint => "Current password required to make any changes", :required => true %>

  <%= f.input :name, :autofocus => true %>
  <%= f.input :email %>
  <%= f.input :password, :autocomplete => "off", :hint => "Leave password blank if you don't want to change it", :required => false %>
  <%= f.input :password_confirmation, :required => false %>
  <%= f.button :submit, 'Update', :class => 'btn-primary' %>
<% end %>
<%= link_to "Back", :back %>
