<div class="row">
	<div class="span4 offset4">
		<h2>Sign up</h2>
		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>

		<%= f.error_notification %>
		<%= display_base_errors resource %>

		<%= f.input :name, :autofocus => true, :required => true, placeholder: 'Name' ,label: false, :input_html => { :class => "span4" } %>
		<%= f.input :email, placeholder: 'Email' ,label: false, :required => true, :input_html => { :class => "span4" }%>
		<%= f.input :password, :required => true, placeholder: 'Password' ,label: false, :input_html => { :class => "span4" }%>
		<%= f.input :password_confirmation, :required => true, placeholder: 'Password confirmation' ,label: false, :input_html => { :class => "span4" }%>
		<%= f.button :submit, 'Start', :class => 'btn-info span4 btn-block' %>
		<% end %>
		<%= render "devise/shared/links" %>
	</div>
</div>
