<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<div class="row">
	<div class="span4">

		<%= simple_form_for(@user, :html => {:class => 'form-vertical' }) do |f| %>

		<%= f.input :wedding_id, :required => true, :input_html => { :class => "span4" }%>

		<%= f.button :submit, "Edit User", :class => 'btn-primary btn-block' %>
		<% end %>
	</div></div>