<% provide(:title, @events.name) %>
<div class="row">
	<div class="span8">
		<h3><%= @events.name %></h3>
		<%= link_to 'Edit Event', edit_event_path(@events) %><br />
		<% if !@events.date.nil? %>
			<strong>Date</strong>&emsp;<%= @events.date %><br />
		<% end %>
		<% if !@events.time.nil? %>
			<strong>Time</strong>&emsp;<%= @events.time.strftime("%I:%M %p") %><br />
		<% end %>
		<% if !@events.location.nil? %>
			<strong>Location</strong>&emsp;<%= @events.location %><br />
		<% end %>
		<% if !@events.description.nil? %>
			<br /><p><%= @events.description %></p>
		<% end %>
		<% if !@events.notes.nil? %>
			<hr />
			<h4>Notes from Hitched</h4>
			<p><%= @events.notes %></p>
		<% end %>
	</div>
	<div class="span4">
		<h3>Comments</h3>
		<% if @events.comments.any? %>
			<ul class="comments">
				<%= render @comments %>
			</ul>
			<%= will_paginate @comments %>

		<% else %>
			No comments.
		<% end %>
	</div>
</div>

 
