<h1>Weddings</h1>

<table>
	<tr>
		<th>Date</th>

		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @weddings.each do |wedding| %>
	<tr>

		<td>
			<%= wedding.date %>
		</td>
		<!--     :category, :date, :description, :location, :name, :notes, :time, :wedding_id, :complete -->
		<td><%= link_to 'Show', wedding %></td>
		<td><%= link_to 'Edit', edit_wedding_path(wedding) %></td>
		<td><%= link_to 'Destroy', wedding, confirm: 'Are you sure?', method: :delete %></td>
	</tr>
	<% end %>
</table>

<br />

<%= link_to 'New Wedding', new_wedding_path %>